# Virtual Environment
venv/
.env
.env.*

# Python caches and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.cache/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Logs and databases
*.log
data/*.log
data/*.db
data/*.csv
data/*.json
!data/.gitkeep

# Models and scalars
models/*
!models/.gitkeep

# Streamlit config/secrets
.streamlit/secrets.toml

# Checkpoints and Jupyter notebook caches
checkpoints/
.ipynb_checkpoints/